@model DiabeticsHelper.Blood_Sugar_Range

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Blood_Sugar_Range</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Blood_Sugar_Range_From)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Blood_Sugar_Range_From)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Blood_Sugar_Range_To)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Blood_Sugar_Range_To)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Blood_Sugar_Range_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
